.textarea {
  grid-area: textarea;
  background-color: transparent;
  border: 1px solid white;
  resize: none;
  overflow-y: auto;
  height: auto;
  min-height: 20px;
  max-height: 300px;
  width: 300px;
  color: white;
  font-weight: 300;
  font-family: "DM Sans";
  font-size: 14px;
  padding: 5px;
}

.textarea:focus {
  outline: none;
}
